n8n-workflows/ingest-ephemeral.json
{
  "name": "Ephemeral Ingestion (1-hour TTL)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-ephemeral",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-ephemeral",
      "name": "Webhook /ingest-ephemeral",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// Same extract+chunk logic as ingestion-pipeline but smaller cap (10 MB).\n// Validate size; reject if oversized.\nreturn [{ json: { chunks: [], ...$json } }];"
      },
      "id": "extract-chunk",
      "name": "Extract + Chunk",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.voyageai.com/v1/embeddings",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"model\": \"voyage-4-large\",\n  \"input\": $json.chunks.map(c => c.content),\n  \"input_type\": \"document\"\n}"
      },
      "id": "embed",
      "name": "Voyage embed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// INSERT INTO ephemeral_chunks(tenant_id, conversation_id, content, embedding, chunk_index, source_name, expires_at)\n// expires_at = NOW() + ($json.ttl_seconds || 3600) * INTERVAL '1 second'\nreturn [{ json: { stored: true, ttl_seconds: $json.ttl_seconds || 3600 } }];"
      },
      "id": "store",
      "name": "Store ephemeral",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $json }}" },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook /ingest-ephemeral": { "main": [[{ "node": "Extract + Chunk", "type": "main", "index": 0 }]] },
    "Extract + Chunk": { "main": [[{ "node": "Voyage embed", "type": "main", "index": 0 }]] },
    "Voyage embed": { "main": [[{ "node": "Store ephemeral", "type": "main", "index": 0 }]] },
    "Store ephemeral": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["rag-platform", "ephemeral"]
}
